<div class="form-group">
<%= form_for([@task_list, @task_list.task_list_items.build]) do |f| %>
    <%= f.text_field :content, placeholder: "Add a new task",  class: "form-control" %>
    <%= f.submit "+ Add task", class:"btn btn-outline-success btn-sm" %>
<% end %>
<br/>
    <div>
        <p>Total tasks in this bucket:</p>
        <%= @task_list.task_list_items.count %><!-- Count items in the list -->
    </div>
    <%= render "task_list_items/count" %>
<div>