<p style="color: green"><%= notice %></p>
<h1><%= @task_list.title %></h1>

<div id="task_list_items_wrapper">
  <%= render @task_list.task_list_items %>
    <div id="form">
      <%= render "task_list_items/form" %>
    </div>
</div>

<div class="btn-toolbar">
  <%= link_to "Edit this bucket", edit_task_list_path(@task_list), class: "btn btn-primary grouped" %>
  <%= link_to "Back to your buckets", task_lists_path, class: "btn btn-secondary grouped" %>
  <%= button_to "Delete this bucket", @task_list, method: :delete, class: "btn btn-danger"  %>
</div>
